*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gl-card-blur: 10px !important; 
  --gl-card-background: #c8baba12 !important;
}

._2ZlhA {
  box-shadow: none !important;
}
.authBg{
  background-color: #0d082a;
  width: 100%;
  height: 100vh;
  padding: 100px;
  color : #ffffff;
}
.inputError{
  color : red;
}
.linkStyle{
  text-decoration: none;
  color : #ffffff;
}


